// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-container {
  position: relative;
  margin: auto;
  margin-top: 100px;
  h1 {
    text-align: center;
    font-size: 4em;
    line-height: 1em;
    small {
      font-size: 0.5em;
    }
  }
  #search-box {
    margin: 40px 5px 60px -55px;
    text-align: center;
    #search-button {
      margin-left: 75px;
    }
    label {
      width: 75px;
    }
  }
}